<h1>Pchome Shopping Crawler</h1>
  <%= form_tag test_search_path, :method => 'get' , remote: true do %>
    <%= text_field_tag :search ,params[:search] %>
    <%= hidden_field_tag :page, params[:page]=1 %> <%#傳送初始頁碼 %>
    <%= hidden_field_tag :view, params[:view]=1 %>
    <%= submit_tag "Search"%>
<% end %>


<div id = 'result'>
    <% render 'test/search' %>
</div>
